<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- FooterView Configuration to disable "Powered by Freshchat" branding -->
    <key>FooterView</key>
    <dict>
        <key>FreshchatDisableFrame</key>
        <string>4cd0b4a3cb6478cd6a2ee9fb40a1fe75</string>
    </dict>
</dict>
</plist>
