<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PayAiro</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>payairo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to your Apple Music to provide a personalized media experience.</string>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera to let users scan QR codes for sending crypto.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts to enhance your experience by allowing easy communication.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses your location to provide better recommendations and nearby services.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to find nearby ATMs and provide location-based financial services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is needed to record audio while capturing videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your photo library to save your KYC documents for your records.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photo library access to let you upload KYC documents such as your ID or address proof.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Neue Plak Black.ttf</string>
		<string>Neue Plak Bold.ttf</string>
		<string>Neue Plak Condensed Black.ttf</string>
		<string>Neue Plak Condensed Bold.ttf</string>
		<string>Neue Plak Condensed ExtraBlack.ttf</string>
		<string>Neue Plak Condensed Light.ttf</string>
		<string>Neue Plak Condensed Regular.ttf</string>
		<string>Neue Plak Condensed SemiBold.ttf</string>
		<string>Neue Plak Condensed Thin.ttf</string>
		<string>Neue Plak Condensed UltraLight.ttf</string>
		<string>Neue Plak Extended Black.ttf</string>
		<string>Neue Plak Extended Bold.ttf</string>
		<string>Neue Plak Extended ExtraBlack.ttf</string>
		<string>Neue Plak Extended Light.ttf</string>
		<string>Neue Plak Extended Regular.ttf</string>
		<string>Neue Plak Extended SemiBold.ttf</string>
		<string>Neue Plak Extended Thin.ttf</string>
		<string>Neue Plak Extended UltraLight.ttf</string>
		<string>Neue Plak ExtraBlack.ttf</string>
		<string>Neue Plak Light.ttf</string>
		<string>Neue Plak Regular.ttf</string>
		<string>Neue Plak SemiBold.ttf</string>
		<string>Neue Plak Text Black Italic.ttf</string>
		<string>Neue Plak Text Black.ttf</string>
		<string>Neue Plak Text Bold Italic.ttf</string>
		<string>Neue Plak Text Bold.ttf</string>
		<string>Neue Plak Text Italic.ttf</string>
		<string>Neue Plak Text Light Italic.ttf</string>
		<string>Neue Plak Text Light.ttf</string>
		<string>Neue Plak Text SemiBold Italic.ttf</string>
		<string>Neue Plak Text SemiBold.ttf</string>
		<string>Neue Plak Text Thin Italic.ttf</string>
		<string>Neue Plak Text Thin.ttf</string>
		<string>Neue Plak Thin.ttf</string>
		<string>Neue Plak UltraLight.ttf</string>
		<string>Nexa-Heavy.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
